<center>
<%= form_with(model: call, local: true, id: 'myform') do |form| %>
  <% if call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(call.errors.count, "error") %> prohibited this call from being saved:</h2>

      <ul>
      <% call.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= t('action_ph') %></p>

  <div class="field">
  <table><tr>
  <td>
  <label>
    <%= form.radio_button :context, 'resturant', checked: true, style: "width:14px;height:14px;", onClick: "changeHint(this.value)" %> 
    <font size='3'>
    <%= t('resturant') %>
    </font>
    </label>
    </td>
    <td>
    <label>
    <%= form.radio_button :context, 'cafe', style: "width:14px;height:14px;", onClick: "changeHint(this.value)" %> 
    <font size='3'>
    <%= t('cafe') %>
    </font>
    </label>

    </td>
    <td>
        <label>
    <%= form.radio_button :context, 'bar', style: "width:14px;height:14px;", onClick: "changeHint(this.value)" %> 
    <font size='3'>
    <%= t('bar') %>
    </font>
    </label>

    </td>
    <td>
        <label>
    <%= form.radio_button :context, 'public', style: "width:14px;height:14px;", onClick: "changeHint(this.value)" %> 
    <font size='3'>
    <%= t('public') %>
    </font>
    </label>

    </td>

    <td>
        <label>
    <%= form.radio_button :context, 'shopping', style: "width:14px;height:14px;", onClick: "changeHint(this.value)" %> 
    <font size='3'>
    <%= t('shopping') %>
    </font>
    </label>

    </td>

    </tr>
    </table>
  </div>
  <div class="field">
    <%= form.text_field :action, placeholder: t('action_hint'), size: '10', style: "font-size:30px", autofocus: 'true' %>
  </div>


  <div class="field">
    <%# form.label :tel %>
    <%= form.hidden_field :tel %>
  </div>

  <div class="field">
    <%# form.label :la %>
    <%= form.hidden_field :la %>
  </div>

  <div class="field">
    <%# form.label :lo %>
    <%= form.hidden_field :lo %>
  </div>

  <div class="field">
    <%# form.label :ip %>
    <%= form.hidden_field :ip %>
  </div>

  <div class="actions">
    <%# form.submit %>
  </div>
<% end %>
</center>

<script type="application/javascript">
  function getIP(json) {
    document.getElementById('call_ip').value = json.ip;
  }

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    }
  }

  function showPosition(position) {
    document.getElementById("call_la").value = position.coords.latitude.toFixed(1);
    document.getElementById("call_lo").value = position.coords.longitude.toFixed(1);
  }

  function changeHint(style) {
      document.getElementById("call_action").focus();
  switch (style) {
      case 'resturant':
    document.getElementById("call_action").placeholder = '小象餐廳';
          break;
      case 'bar':
    document.getElementById("call_action").placeholder = '飛標酒吧';
          break;
      case 'cafe':
    document.getElementById("call_action").placeholder = '很多咖啡';
          break;
      case 'public':
    document.getElementById("call_action").placeholder = '台灣美術館';
          break;
      case 'shopping':
    document.getElementById("call_action").placeholder = '好事多';
          break;
  } 
  }
</script>

<script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
